*{
    box-sizing: border-box;
    width: 100%;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-image: url("/portfolioBg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 65%;
    margin: 0;
}
.body-container{
    width: 65vw;
    height: fit-content;
    margin: 5vh 17.5vw 6vh;
    background-color: whitesmoke;
    border-radius: 2em;
    padding: 5vh 5vw;
    box-shadow: 0 0 5px 0 #0D142E;
}
.footer{
    width: 100%;
    height: 30vh;
    background-color: black;
}
h1, h2, h3, h4, p, ul, li{
    color: black;
    margin: 0;
    padding: 0;
}
.section-header{
    font-family: 'Source Code Pro', monospace;
    font-size: 3em;
    font-style: bold;
}
a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
}
.nav-link:hover{
    color: #fe305f;
    text-decoration: underline;
    text-decoration-color: #fe305f;
    font-style: bold;
}
.navbar{
    background-color: #0D142E;
    margin: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    text-decoration: none;
    padding: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    position: sticky;
    top: 0;
}
.nav-header{
    display: flex;
    padding: 0px 3vw 0px 3vw;
    font-size: 3.5em;
    flex-basis: 0;
}
.social-wrapper{
    display: flex;
    margin: 0;
    padding: 0;
    flex-basis: 0;
}
.icon{
    margin: 0 10px;
}
.nav-items{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    padding-right: 3vw;
}
.nav-items a{
    padding: 0px 10px;
    align-self: center;
}
.landing{
    width: 65vw;
    height: 80vh;
    margin: 5vh 17.5vw 6vh;
    background-color: #0D142E;
    border-radius: 2em;
    padding: 5vh 5vw;
    box-shadow: 0 0 2px 0 #fff;
    display: flex;
    flex-direction: column;
}
.landing-intro{
    align-self: flex-start;
    margin-top: 13vh;
    font-size: 2.75em;
    flex-grow: 2;
}
.landing-call{
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}
.landing h1{
    font-family: 'Source Code Pro', monospace;
    color: #fe305f;
}
/* .landing-head,
.landing-head{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.landing-head{
    background: teal;
    animation: 
    typewriter 4s steps(27) forwards;
} */

.landing h2{
    color: white;
    white-space: nowrap;
    padding-right: 2rem;
}
#projects{
    scroll-margin-top: 20vh;
}
#about{
    scroll-margin-top: 20vh;
}
#contact{
    scroll-margin-top: 20vh;
}   
/* @keyframes typewriter{
    to{
        left:100%;
    }
} */
@media (max-width: 767px) {

}