*{
    box-sizing: border-box;
    width: 100%;
    background-color: #1c2c41;
    color: white;
}
body{
    font-family: 'Besley', serif;
    font-size: larger;
    
}
a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
}
a:hover{
    color: lightgray;
    font-style: bold;
}
.navbar{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-decoration: none;
    padding: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
.nav-header{
    display: flex;
    padding: 0px 3vw 0px 3vw;
    font-size: xx-large;
    flex-basis: 0;
}
.social-wrapper{
    display: flex;
    margin: 0;
    padding: 0;
    flex-basis: 0;
}
.icon{
    margin: 0 10px;
}
.nav-items{
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    padding-right: 3vw;
}
.nav-items a{
    padding: 0px 10px;
}


@media (max-width: 767px) {

}