*{
    box-sizing: border-box;
    width: 100%;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-image: url("/extraFiles/portfolioBg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 65%;
    width: 100%;
    margin: 0;
}
.body-container{
    width: 65vw;
    height: fit-content;
    margin: 6vh 17.5vw;
    background-color: whitesmoke;
    border-radius: 2em;
    padding: 3vh 3vw;
    box-shadow: 0 0 5px 0 #0D142E;
}
.footer{
    width: 100%;
    height: 30vh;
    background-color: black;
}
h1, h2, h3, h4, p, ul, li{
    color: black;
    margin: 0;
    padding: 0;
}
.section-header{
    font-family: 'Source Code Pro', monospace;
    font-size: 3em;
    font-style: bold;
}
a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
}
.nav-link:hover{
    color: #fe305f;
    text-decoration: underline;
    text-decoration-color: #fe305f;
    font-style: bold;
}
.navbar{
    background-color: #0D142E;
    margin: 0;
    display: flex;
    width: 100%;
    height: 8vh;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.social-wrapper{
    display: flex;
    margin: 0;
    padding: 0px 3vw 0px 3vw;
    flex-basis: 0;
}
.icon{
    margin: 0 10px;
}
.nav-items{
    display: flex;
    width: fit-content;
    justify-content: center;
    font-size: 2.2em;
    padding-right: 5vw;
}
.nav-items a{
    padding: 0px 10px;
    align-self: center;
}
.landing{
    width: 65vw;
    height: 80vh;
    margin: 6vh 17.5vw 6vh;
    background-color: #0D142E;
    border-radius: 2em;
    padding: 5vh 5vw;
    box-shadow: 0 0 5px 0 #fe305f;
    display: flex;
    flex-direction: column;
}
.landing-intro{
    align-self: flex-start;
    margin-top: 13vh;
    font-size: 2.75em;
    flex-grow: 2;
}
.landing-call{
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}
.landing h1{
    font-family: 'Source Code Pro', monospace;
    color: #fe305f;
}

.landing h2{
    color: white;
    white-space: nowrap;
    padding-right: 2rem;
}
#projects{
    scroll-margin-top: 16vh;
}
#about{
    scroll-margin-top: 16vh;
}
#contact{
    scroll-margin-top: 16vh;
}
.proj-container{
    display: flex;
    flex-flow: row nowrap;
    padding: 3vh 3vw;
}
.proj-img-container{

}
.proj-desc-container{

}   
.proj-desc-container h4{
    font-size: 2em;
    color: #0D142E;
}
.proj-desc-container h3{
    font-size: 2.7em;
    color: #fe305f;
}
.proj-desc-container p{
    font-size: 1.6em;
}
.proj-desc-container li{
    font-size: 1.6em;
}
.aboutText{
    font-size: 1.6em;
}

@media (max-width: 767px) {

}